<?xml version="1.0"?>
<!--
* @package Paazl_Shipping
* @author Guapa <info@guapa.nl>
* @copyright 2010-2017 Guapa B.V.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Paazl_Shipping::paazl" title="Paazl" module="Paazl_Shipping" sortOrder="30" resource="Magento_Backend::content"/>
        <add id="Paazl_Shipping::guapa_paazl_logging"
             title="Logging"
             module="Paazl_Shipping"
             sortOrder="10"
             parent="Paazl_Shipping::paazl"
             resource="Paazl_Shipping::logging"
             action="paazl/log/index"
             dependsOnConfig="paazl/debug/log"
        />
    </menu>
</config>